
/* Styles for directions */

	.directionsDiv .directionsDetails{
		height: 100%;
		width: 100%;
		-ms-grid-row:2;
		-ms-grid-column-span:2;
	}
	.directionsDetails.win-listview .win-container{
	}

/* style for direction item*/
	.directionItem{
		-ms-grid-columns: 30px 1fr;
		display:-ms-grid;
		width:100%;
		padding-bottom: 5px;
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 10px;
		height:65px;
	}
		.directionItem i{
			font-size: 20pt;
		}
			.directionItem i.map-icon-start-point{	
				color: green;
				padding:5px;
			}
			.directionItem i.map-icon-end-point{	
				color: red;
				padding:5px;
			}
		.directionItem .directionDetail{
			-ms-grid-column: 2;
			margin-left: 10px;
			max-width: 360px;
		}
		.directionItem .directionDetail .header{
			font-size: 11pt;
			font-weight: 600;
			line-height: 1.53636;
		}
		.directionItem .directionDetail .subHeader{
			font-size: 10pt;
		}
	.directionsDiv .directionsDisclaimer{
		-ms-grid-row:3;
		-ms-grid-column-span:3;
		max-width: 360px;
		padding:10px;
	}

